.calendar-list {
    .list-group {
        .list-group-item {
            padding: 1rem;

            @media (max-width: 769px) {
                padding: 1rem 0;
                border-right: none;
                border-left: none;
                border-radius: 0;
            }
        }

        .group {
            border: 1px solid black;

            &.A {
              color: #1474bc;
              border-color: #1474bc;
            }

            &.B {
              color: #c42616;
              border-color: #c42616;
            }

            &.C {
              color: #0f96d3;
              border-color: #0f96d3;
            }

            &.D {
              color: #d5c8a3;
              border-color: #d5c8a3;
            }

            &.E {
              color: #443979;
              border-color: #443979;
            }

            &.F {
              color: #0c8544;
              border-color: #0c8544;
            }

            &.G {
              color: #50aa8a;
              border-color: #50aa8a;
            }

            &.H {
              color: #f7742b;
              border-color: #f7742b;
            }
        }
        .body {
            .name,
            .location {
                display: inline-block;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .flag-icon {
                display: block;
                padding-bottom: 53.6%;
                width: 100%;
                border: 1px solid #ccc;
                background-color: #eee;
                background-size: cover;

                @media (min-width: 768px) {
                    padding-bottom: 26.8%;
                    width: 50%;
                }
            }

            .score {
              font-size: 40px;
            }
        }
    }
}
