.calendar-list {
    .list-group {
        .list-group-item {
            padding: 1rem;

            @media (max-width: 769px) {
                padding: 1rem 0;
                border-right: none;
                border-left: none;
                border-radius: 0;
            }
        }

        .group {
            border: 1px solid black;
        }
        .body {
            .name,
            .location {
                display: inline-block;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .flag-icon {
                display: block;
                padding-bottom: 53.6%;
                width: 100%;
                border: 1px solid #ccc;
                background-color: #eee;
                background-size: cover;

                @media (min-width: 768px) {
                    padding-bottom: 26.8%;
                    width: 50%;
                }
            }
        }
    }
}
