.calendar-list {
    .list-group-item {
        padding: 1rem;

        @media (max-width: 769px) {
            padding: 1rem 0;
            border-right: none;
            border-left: none;
            border-radius: 0;
        }
    }
}
