.match {
    .body {
        .name,
        .location {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .flag-icon {
            display: block;
            padding-bottom: 53.6%;
            width: 100%;
            border: 1px solid #e9ecef;
            background-color: #eee;
            background-size: cover;

            @media (min-width: 768px) {
                padding-bottom: 26.8%;
                width: 50%;
            }

            @media (min-width: 1024px) {
                padding-bottom: 17.7%;
                width: 33%;
            }
        }

        .score {
            font-size: 40px;
        }
    }
}
