.match {
    .body {
        .name,
        .location {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .flag-icon {
            display: block;
            width: 40px;
            height: 30px;
            border: 1px solid #e9ecef;
            background-color: #eee;
            background-size: cover;

            @media (min-width: 375px) {
                width: 60px;
                height: 45px;
            }

            @media (min-width: 576px) {
                width: 100px;
                height: 75px;
            }
        }

        .score {
            font-size: 40px;
        }
    }
}
