.match {
    .body {
        .name,
        .location {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .flag-icon {
            display: block;
            padding-bottom: 53.6%;
            width: 100%;
            border: 1px solid #e9ecef;
            background-color: #eee;
            background-size: cover;

            @media (min-width: 768px) {
                padding-bottom: 26.8%;
                width: 50%;
            }

            @media (min-width: 1024px) {
                padding-bottom: 17.7%;
                width: 33%;
            }
        }

        .score {
            font-size: 40px;
        }
    }

    .group {
        border: 1px solid black;

        &.A {
            border-color: #1474bc;
            color: #1474bc;
        }

        &.B {
            border-color: #c42616;
            color: #c42616;
        }

        &.C {
            border-color: #0f96d3;
            color: #0f96d3;
        }

        &.D {
            border-color: #d5c8a3;
            color: #d5c8a3;
        }

        &.E {
            border-color: #443979;
            color: #443979;
        }

        &.F {
            border-color: #0c8544;
            color: #0c8544;
        }

        &.G {
            border-color: #50aa8a;
            color: #50aa8a;
        }

        &.H {
            border-color: #f7742b;
            color: #f7742b;
        }
    }
}
