@import '../../theme';

.chat {
    position: relative;
    .chat-window {
        overflow: hidden;
        padding-bottom: 55px;
        min-height: calc(480px - 62px - .5rem);
        height: calc(100vh - 62px - .5rem);

        .messages {
            overflow-y: scroll;
            padding-right: 0;
            height: 100%;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .bottom-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: .5rem 0;
            width: 100%;
        }

        @media (min-width: 768px) {
            padding-bottom: 71px;
            min-height: calc(480px - 62px - 1rem);
            height: calc(100vh - 62px - 1rem);

            .bottom-wrapper {
                padding: 1rem 0;
            }
        }
    }
}
