.btn-fa {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    line-height: 24px;
}
