@import '../../../theme';

.user-nav {
    height: 100%;
}

.user-nav img {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
}

.user-nav .media-body {
    position: relative;
    display: block;
    width: calc(100% -  42px);
}

.user-nav .media-body a {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .user-nav img {
        max-height: $navBarHeightSm;
    }
};
