@import '../../../theme';
$pictureSize: 60px;
$pictureSizeSm: 100px;

.slot {
    position: relative;
    width: 100%;
    background: repeating-linear-gradient(55deg, transparent, transparent 5%, #f5f5f5 5%, #f5f5f5 10%) #fafafa;

    &.ready {
        background: repeating-linear-gradient(55deg, transparent, transparent 5%, #c9e4b6 5%, #c9e4b6 10%) #f0ffe8;
    }

    &:not(.last) {
        margin-bottom: 1rem;
    }

    .player-picture {
        width: $pictureSize;
        height: $pictureSize;
    }

    .player-name {
        position: relative;
        /* container - picture - margin picture - button - margin button */
        max-width: calc(100% - 60px - 1rem - 42px - 1rem);
        text-shadow: 0 0 4px #fff;
        font-weight: bold;

        .text {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        button .text {
            display: inline;
        }

        .dropdown-menu.show {
            left: -.5rem !important;
            padding: 0;
            transform: translate3d(0%, -35%, 0px) !important;
        }

        .dropdown-item {
            padding: 2px .75rem;
        }
    }

    button.join.text-primary:active,
    button.join.text-primary:hover {
        color: $primary;
    }

    button.join.text-success:active,
    button.join.text-success:hover {
        color: $success;
    }

    button.join.disabled {
        cursor: initial;
    }
}

@media (min-width: 768px) {
    .slot {
        .player-picture {
            width: $pictureSizeSm;
            height: $pictureSizeSm;
        }

        .player-name {
            max-width: calc(100% - 100px - 1rem - 42px - 1rem);
            font-size: 120%;

            .dropdown-menu.show {
                left: 0 !important;
                transform: translate3d(0%, -38%, 0px) !important;
            }

            .dropdown-item {
                padding: .25rem 1.5rem;
            }
        }
    }
}
