@import '../../../theme';

#user-header .gravatar {
    width: 80px;
    height: 80px;
    border: 5px solid #fff;
    vertical-align: top;
}

@media (min-width: 768px) {
    #user-header .gravatar {
        width: 100px;
        height: 100px;
    }
}
