#game-draft-selection {
    &.notUserTurn {
        position: fixed;
        overflow: hidden;
        filter: blur(5px);
    }

    table {
        tbody {
            th,
            td:not(.addOn) {
                width: 60px;
            }
        }
        .stars {
            display: none;
        }
    }
}
