@import '../../theme';

#main-header {
    z-index: 15;

    .navbar {
        -ms-flex-pack: start;
        padding: 0;
        background: darken($primary, 5%);
        color: map-get($textColorForBg, primary);

        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: start;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        justify-content: flex-start;

        .container {
            flex-wrap: nowrap;

            .navbar-brand {
                padding: 1rem .5rem;
                background: darken($primary, 7.5%);
                color: map-get($textColorForBg, primary);
                text-align: center;
            }
        }
    }

    .btn-drawer .btn,
    #main-header-side-action-dom .btn-side-action .btn {
        padding: 0;
        width: 40px;
        outline: 0;
        background-color: transparent;
        box-shadow: none;
        color: inherit;
        font-size: 24px;
        line-height: 36px;
        cursor: pointer;
    }

    #main-header-side-action-dom .dropdown-menu {
        top: 0;
        right: 0;
        left: auto;

        @media (min-width: 768px) {
            top: 100%;
        }
    }

    .navbar-text {
        overflow: hidden;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1em;

        @media (min-width: 1024px) {
            font-size: 1.25em;
        }
    }
}
