#main-header {
    z-index: 100;
}

#main-header .container {
    position: relative;
}

#main-header .dropdown .flag-icon {
    margin-right: 5px;
}

#main-header .dropdown-item.hidden {
    display: none;
}

#main-header .dropdown-item .flag-icon {
    margin-right: 10px;
}

#main-header .dropdown-menu[for='navbarLanguageDropdown'] {
    top: 0;
}
