@import '../../theme';

/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    width: 24px;
    height: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: $light;
}

/* General sidebar styles */
.bm-menu-wrap {
    z-index: 30!important;
}

.bm-menu {
    padding: 2.5em 0;
    background: $complementary;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: $complementary;
}

/* Wrapper for item list */
.bm-item-list {
    color: $light;
}

/* Styling of overlay */
.bm-overlay {
    z-index: 20 !important;
    background: rgba(0, 0, 0, .3);
}

/* Inner item list */
.bm-item-list ul {
    padding: 0;
}

.bm-item-list .nav-link {
    display: block;
    color: $light;
    padding: 0;
}

.bm-item-list .nav-link,
.bm-item-list .nav-link i {
    padding: .5rem 1rem;
}
