@import '../../../theme';

#home-description {
    padding: 1rem 0;
}

#home-description .list-group-item.active {
    border-color: $complementary;
    background: $complementary;
}

#home-description .list-group-item.disabled p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#home-description .list-group-item small svg {
    margin-right: 5px;
}

@media (min-width: 768px) {
    #home-description {
        padding: 4rem 0;
    }
}
