$primary: #891c15 !default;
$complementary: #357fb7 !default;
$neutral: #dcc38a !default;
$light: #fefdfb !default;
$dark: #333 !default;
$success: #28a745;
$info: #17a2b8;
$textColorForBg: (
    primary: lighten($primary, 90%),
    complementary: lighten($complementary, 90%),
    success: lighten($success, 90%),
    info: lighten($info, 90%),
    neutral: $primary,
    light: $dark,
    dark: $light,
) !default;
$navBarHeight: 54px;
$navBarHeightSm: 62px;
$fSecondary: 'World Cup 2018', sans-serif;

.f-secondary {
    font-family: $fSecondary;
}
