@import '../../../theme';

#home-content {
    padding: 1rem 0;
}

#home-content {
  #create-game-form .row.mb-3 {
    display: none;
  }
}

@media (min-width: 768px) {
    #home-content {
        padding: 4rem 0;
    }
}
