@import '../../../theme';

#home-content {
    padding: 0 0 2rem 0;
    background-color: darken($complementary, 3);

    .card {
        margin-top: -1rem;

        h3 {
            text-align: center;
        }

        form .action {
            .btn {
                width: 100%;
            }
        }
    }

    .logo {
        position: absolute;
        bottom: -4rem;
        left: 50%;
        height: 4rem;
        transform: translateX(-50%);
    }

    @media (min-width: 768px) {
        padding: 0 0 4rem 0;

        .card {
            margin-top: -2rem;
        }

        .logo {
            bottom: -8rem;
            height: 8rem;
        }
    }
}
