$colorA: #891c15;
$colorB: #006711;
$colorC: #24207D;
$colorD: #7DA7DD;
$colorE: #259E4A;
$colorF: #F8D228;
$colorG: #ED3037;
$colorH: #E8E7E6;

.group {
    border: 1px solid;
    border-radius: .25rem;

    .clickable {
        cursor: pointer;
    }

    .table {
        th,
        td {
            vertical-align: middle;
            white-space: nowrap;

            &.addOn {
                text-align: right;
            }
        }

        thead th {
            color: white;
        }
    }

    &.A {
        border-color: darken($colorA, 5);

        .table thead th {
            border-top: 1px solid darken($colorA, 5);
            border-bottom: 1px solid darken($colorA, 5);
            background-color: $colorA;
        }

        .badge,
        &.badge {
            border-color: darken($colorA, 10);
            color: $colorA;
        }
    }

    &.B {
        border-color: darken($colorB, 5);

        .table thead th {
            border-top: 1px solid darken($colorB, 5);
            border-bottom: 1px solid darken($colorB, 5);
            background-color: $colorB;
        }

        .badge,
        &.badge {
            border-color: darken($colorB, 10);
            color: $colorB;
        }
    }

    &.C {
        border-color: darken($colorC, 5);

        .table thead th {
            border-top: 1px solid darken($colorC, 5);
            border-bottom: 1px solid darken($colorC, 5);
            background-color: $colorC;
        }

        .badge,
        &.badge {
            border-color: darken($colorC, 10);
            color: $colorC;
        }
    }

    &.D {
        border-color: darken($colorD, 5);

        .table thead th {
            border-top: 1px solid darken($colorD, 5);
            border-bottom: 1px solid darken($colorD, 5);
            background-color: $colorD;
        }

        .badge,
        &.badge {
            border-color: darken($colorD, 10);
            color: $colorD;
        }
    }

    &.E {
        border-color: darken($colorE, 5);

        .table thead th {
            border-top: 1px solid darken($colorE, 5);
            border-bottom: 1px solid darken($colorE, 5);
            background-color: $colorE;
        }

        .badge,
        &.badge {
            border-color: darken($colorE, 10);
            color: $colorE;
        }
    }

    &.F {
        border-color: darken($colorF, 5);

        .table thead th {
            border-top: 1px solid darken($colorF, 5);
            border-bottom: 1px solid darken($colorF, 5);
            background-color: $colorF;
        }

        .badge,
        &.badge {
            border-color: darken($colorF, 10);
            color: $colorF;
        }
    }

    &.G {
        border-color: darken($colorG, 5);

        .table thead th {
            border-top: 1px solid darken($colorG, 5);
            border-bottom: 1px solid darken($colorG, 5);
            background-color: $colorG;
        }

        .badge,
        &.badge {
            border-color: darken($colorG, 10);
            color: $colorG;
        }
    }

    &.H {
        border-color: darken($colorH, 5);

        .table thead th {
            color: darken($colorH, 30);
            border-top: 1px solid darken($colorH, 5);
            border-bottom: 1px solid darken($colorH, 5);
            background-color: $colorH;
        }

        .badge,
        &.badge {
            border-color: darken($colorH, 10);
            color: darken($colorH, 30);
        }
    }

    .flag-icon {
        width: 30px;
        height: 25px;
        border: 1px solid #e9ecef;
        background-color: #eee;
        background-size: cover;

        @media (min-width: 768px) {
            width: 60px;
            height: 45px;
        }
    }
}
